@import "basscss/modules/flexbox";
@import "basscss/modules/grid";
@import "basscss/modules/margin";
@import "basscss/modules/padding";
@import "basscss/modules/type-scale";
@import "basscss/modules/typography";
@import "basscss/modules/layout";
@import "node_modules/basscss-responsive-margin/index.css";
@import "node_modules/basscss-responsive-padding/index.css";
@import "node_modules/basscss-responsive-layout/index.css";
@import "node_modules/basscss-responsive-position/index.css";

@font-face {
  font-family: 'Dunant';
  src: url('fonts/subset-Dunant-Regular.woff2') format('woff2'),
      url('fonts/subset-Dunant-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dunant';
  src: url('fonts/subset-Dunant-Medium.woff2') format('woff2'),
      url('fonts/subset-Dunant-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dunant';
  src: url('fonts/subset-Dunant-Light.woff2') format('woff2'),
      url('fonts/subset-Dunant-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?611z2v') format('truetype'),
    url('fonts/icomoon.woff?611z2v') format('woff'),
    url('fonts/icomoon.svg?611z2v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e900";
}
.icon-podcast:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-share:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}

* {
  box-sizing: border-box;
}

:root {
  --primary_h: 0;
  --primary_s: 100%;
  --primary_l: 50%;
  --primary: hsl(var(--primary_h), var(--primary_s), var(--primary_l));

  --gray_h: 0;
  --gray_s: 0%;
  --gray_l: 36%;
  --gray: hsl(var(--gray_h), var(--gray_s), var(--gray_l));
  
  --black: #000;
  --white: #fff;

  --h00: 3rem;

  --caps-letter-spacing: 1;
}

body {
  font: 16px Dunant;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: var(--black);
}
.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(50%, 800px);
  padding: 0 20px;
}

.fit {
  width: 100%;
  height: auto;
}

.gaps {
  margin-left: calc(-1 * var(--space-1));
  margin-right: calc(-1 * var(--space-1));
  > * {
    --color: asdf;
    padding-left: var(--space-1);
    padding-right: var(--space-1);
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: var(--primary);
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
  &:active {
    color: color-mod(var(--primary) b(30%));
  }
}

.btn {
  border: 1px solid transparent;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s, background-color .15s, border-color .15s;
  display: inline-block;
  &:hover, &:focus, &:active {
    background-color: transparent;
  }
}
.btn-primary {
  color: var(--primary);
  background: none;
  border-color: var(--primary);
  &:hover, &:focus, &:active {
    background-color: var(--primary);
    color: var(--white);
  }
  &:active {
    border-color: color-mod(var(--primary) b(30%));
    background-color: color-mod(var(--primary) b(30%));
  }
  &-filled {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover, &:focus, &:active {
      border-color: color-mod(var(--primary) b(15%));
      background-color: color-mod(var(--primary) b(15%));
    }
    &:active {
      border-color: color-mod(var(--primary) b(30%));
      background-color: color-mod(var(--primary) b(30%));
      color: var(--white);
    }
  }
}
.btn-gray {
  color: var(--gray);
  background: none;
  border-color: var(--gray);
  &:hover, &:focus, &:active {
    /* background-color: var(--gray);
    color: var(--white); */
  }
  &:active {
    /* border-color: color-mod(var(--gray) b(30%));
    background-color: color-mod(var(--gray) b(30%)); */
  }
  &-filled {
    color: #fff;
    background-color: var(--gray);
    border-color: var(--gray);
    position: relative;
    &:after {
      content: '';
      display: block;
      /* width: 100%; */
      width: 0;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width .25s ease-out;
    }
    &:hover, &:active, &:active {
      background-color: var(--gray);
      &:after {
        width: 100%;
      }
    }
  }
}

.c-primary { color: var(--primary) }
.c-black { color: var(--black) }
.c-gray { color: var(--gray) }
.c-white { color: var(--white) }

#menu {
  position: fixed;
  top: 0;
  z-index: 50;
  a {
    padding: .5rem;
    text-decoration: none;
  }
  .active {
    text-decoration: line-through;
  }
}

#header {
  height: calc(var(--vh, 1vh) * 100);
  min-height: 450px;
  position: relative;
  figure {
    height: 100%;
  }
  picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  figure {
    margin: 0;
    &:after {
      content: '';
      height: 60%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: linear-gradient(#0000 0%,#0009 100%)
    }
  }
  figcaption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    padding: 0 clamp(20px, 15vw, 150px);
    max-width: calc(800px + clamp(20px, 50%, 150px));
    color: var(--white);
    z-index: 1;
    font-size: 1.2rem;
  }
}
.swiper {
  width: 100%;
  figure {
    margin: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.teaserbox {
  aspect-ratio: 1/1;
  position: relative;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: var(--white);
    text-decoration: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    .content {
      overflow: hidden;
      height: 0;
      display: inline-block;
    }
    > * {
      position: relative;
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background-color: color-mod(var(--primary) a(80%));
      z-index: 0;
    }
    &:hover, &:focus, &:active {
      .content {
        height: auto;
      }
      &:before {
        background-color: color-mod(var(--primary) b(10%));
      }
    }
  }
}

#map-wrapper {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc((9 / 16) * 100%);
  }
  > #map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      width: 256px;
      height: 256px;
    }
  }
}
.leaflet-shadow-pane {
  display: none;
}
#map-filter {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  button:first-child {
    border-radius: 4px 4px 0 0;
  }
  button {
    border-radius: 0;
    padding: .3rem .5rem;
    /* -webkit-appearance: none; fix for terrible browsers */
    border-top: 0;
    /* outline: none; */
    &:focus {
      /* box-shadow: 0 0 1px 1px red; */ /*doesn't work cuz webkit is trash*/
      /* outline: 1px solid #f00a; */
      z-index: 1;
    }
  }
  button:last-child {
    border-radius: 0 0 4px 4px;
    border-top: 0;
  }
}

.bg1 {
  background-image: url("https://picsum.photos/2000/1334");
}

#kleiderladen-logo {
  height: calc(var(--h00) - var(--space-2));
  width:auto;
}

footer {
  background-color: #666;
  color: #fff;
  padding-bottom: 55px; /*height of sticky footer*/
}

#map-buttons {
  display: flex;
  button {
    background-color: #f00a;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    padding: 1rem 0;

    &.active {
      background-color: #f00
    }
  }
}

.legal {
  background: #b70e0c !important;
  p {
    margin: 0;
    margin-right: 1rem;
  }
  a {margin: 0 .2rem}
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  display: inline-flex;
  width: 100%;
  background-color: #333330;
  a {
    color: #fff;
  }
}

input {
  display: block;
  width: 100%;
  height: calc(1em + 0.625rem + 2px);
  padding: 0.3125rem 0.75rem;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1;
  color: rgb(73, 80, 87);
  background-color: rgb(229, 229, 229);
  background-clip: padding-box;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 0px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 0px 0px inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

button[type="submit"] {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  -webkit-appearance: button;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  border-radius: 0;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  display: inline-flex;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  padding: 6px 8px 4px 8px;
  background-color: #838383;
  box-shadow: inset 0 3px 0 rgba(255,255,255,0.2),inset 0 -3px 0 rgba(0,0,0,0.2),0 4px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  &:active { 
    box-shadow: inset 0 0px 0 rgb(255 255 255 / 20%), inset 0 0px 0 rgb(0 0 0 / 20%), 0 0px 0 rgb(0 0 0 / 20%) !important;
  }
}

.share {
  font-family: "Dunant";
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  border-radius: 0;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: inline-flex;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.1);
  min-height: 30px;
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
  span {
    margin: 0 10px;
  }
  i {
    font-family: "Dunant";
    font-weight: 300;
    text-align: center;
    user-select: none;
    font-size: 1.125rem;
    line-height: 1.2222222222;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 8.5px;
    background-color: rgba(0,0,0,0.2);
  }
}

@media (--breakpoint-lg) {
  :root {
    --h00: 6rem;
  }
}
